html, body, figure, figcaption, ul, div, h1 {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  text-align: inherit;
}

html {
  height: 100%;
  width: 100%;
  background-color: #C3E4ED
}

body {
  font-family: sans-serif;
  text-align: center;
  font-weight: bold;
}

div.snake-game {
  width: 400px;
  height: 400px;
  margin-left: 20%;
  border: 5px solid #9F703A;
  display: inline-block;
  float: left;
  border-radius: 3px;
  background-color: #ffffff;
}

div.row:after {
  content: "";
  clear: both;
  display: block;
}

div.cell {
  float: left;
  width: 20px;
  height: 20px;
}

.snake {
  background: #659D32;
}

.snake.head.N {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid #659D32;
  background: #ffffff;
  width: 0px;
  height: 0px;
}
.snake.head.E {
  border-bottom: 10px solid transparent;
  border-top: 10px solid transparent;
  border-left: 20px solid #659D32;
  background: #ffffff;
  width: 0px;
  height: 0px;
}
.snake.head.S {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 20px solid #659D32;
  background: #ffffff;
  width: 0px;
  height: 0px;
}
.snake.head.W {
  border-bottom: 10px solid transparent;
  border-top: 10px solid transparent;
  border-right: 20px solid #659D32;
  background: #ffffff;
  width: 0px;
  height: 0px;
}

.apple {
  background-image: url(../images/apple-square-small.png);
}

h1 {
  margin-bottom: 20px;
  margin-top: 20px;
}

.points {
  float:left;
  width: 300px;
  height: auto;
  display: inline-block;
  text-align: center;
  padding-bottom: 20px;
}

.instructions {
  float:left;
  width: 300px;
  height: auto;
  border: 5px solid #41677C;
  padding: 10px;
  display: inline-block;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 3px;
  background-color: #eeeeee;
}

.high-score {
  margin-bottom: 20px;
}
