html, body, figure, figcaption, ul, div, h1 {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  text-align: inherit;
}

body {
  font-family: sans-serif;
  text-align: center;
  font-weight: bold;
}

div.snake-game {
  width: 400px;
  height: 400px;
  margin-left: 20%;
  border: 5px solid #9F703A;
  display: inline-block;
  float: left;
  border-radius: 3px;
}

div.row:after {
  content: "";
  clear: both;
  display: block;
}

div.cell {
  float: left;
  width: 20px;
  height: 20px;
}

.snake {
  background: #00ff00;
}

.apple {
  background-image: url(../images/apple-square-small.png);
}

h1 {
  margin-bottom: 20px;
  margin-top: 20px;
}

.points {
  float:left;
  width: 300px;
  height: auto;
  display: inline-block;
  text-align: center;
  padding-bottom: 20px;
}

.instructions {
  float:left;
  width: 300px;
  height: auto;
  border: 5px solid #41677C;
  padding: 10px;
  display: inline-block;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 3px;
}
