html, body, figure, figcaption, ul, div, h1 {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  text-align: inherit;
}

body {
  font-family: sans-serif;
  text-align: center;
  font-weight: bold;
}

div.snake-game {
  width: 400px;
  height: 400px;
  margin: 0 auto;
}

div.row:after {
  content: "";
  clear: both;
  display: block;
}

div.cell {
  float: left;
  width: 20px;
  height: 20px;
}

.snake {
  background: #00ff00;
}

.apple {
  background: #ff0000;
}

.snake-game {
  border: 1px solid #000000;
}

.points {
  width: 300px;
  height: 100px;
  margin: 40px auto;

  border: 1px solid #ff0000;
  bottom: -10;
}
